{% extends "layout.html" %}
{% block title %}InstaStyle - Login{% endblock %}
{% block content %}
    <div class="text-center my-5">
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger mt-5" role="alert">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form class="form-login" method="POST" action="/login">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
