{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block body %}
    {{ super() }}
    <div>
        <h3 class="title">Login</h3>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div>
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/login">
                <div>
                    <div>
                        <input type="email" name="email" placeholder="Your Email" autofocus="">
                    </div>
                </div>
                <div>
                    <div>
                        <input type="password" name="password" placeholder="Your Password">
                    </div>
                </div>
                <div>
                    <label>
                        <input type="checkbox">
                        Remember me
                    </label>
                </div>
                <button>Login</button>
            </form>
        </div>
    </div>
    <div>
        <p><a href="{{ url_for('home.index') }}">Home</a></p>
    </div>
{% endblock %}
