{% extends "layout.html" %}
{% block title %}Style transfer{% endblock %}
{% block content %}
    <div>
        <h3>Style transfer</h3>
        <div>
            <label>Upload a picture:</label>
            <input type="file" onchange="readURL(this);" accept="image/png, image/jpeg" />
            <img id="user_picture" src="static/img/image_preview.jpg" alt="your image" />
            <img id="style" src="static/img/monet.jpg" alt="style" />
        </div>
        <div>
            <button id="style_transfer" {% if is_locked %}disabled{% endif %}>Transfer style !</button>
        </div>
        <div>
            {% if is_locked %}
            <p>You already have a style transfer in progress, please check later.</p>
            {% else %}
            <span id='result'></span>
            {% endif %}
        </div>
        <div>
            {% if has_user_generated_image %}
            <P>Generated picture : </P>
            <img id="user_picture_result" src="{{ generated_image }}" alt="result image" />
            {% endif %}
        </div>
    </div>
    <div>
        <p><a href="{{ url_for('home.index') }}">Home</a></p>
    </div>
{% endblock %}
