<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{{ url_for('static', filename='js/payment_script.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/style_transfer.js') }}" defer></script>
    </head>
    <body>
        {% include 'nav.html' %}
        {% block content %}{% endblock %}
        {% include 'footer.html' %}
    </body>
</html>
